@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Sulphur+Point:wght@300;400;700&display=swap');

:root {
    --header: "Rammetto One", sans-serif;
    --main: "Sulphur Point", sans-serif;
    --darkGreen: #092635;
    --green: #1B4242;
    --sage: #5C8374;
    --mint: #9EC8B9;
    --white: #ffffff;
    --black: #000000;
}

.mainLight {
    font-family: var(--main);
    font-weight: 300; /* light */
}

.mainRegular {
    font-family: var(--main);
    font-weight: 400; /* regular */
}

.mainBold {
    font-family: var(--main);
    font-weight: 700; /* bold */
}
