@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Sulphur+Point:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --header: "Rammetto One", sans-serif;
    --main: "Sulphur Point", sans-serif;
    --darkGreen: #092635;
    --green: #1B4242;
    --sage: #5C8374;
    --mint: #9EC8B9;
    --white: #ffffff;
    --black: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--darkGreen);
}
